@font-face {
  font-family: 'Centra No2 Bold';
  src: url('../../public/fonts/centra-no-2-bold.woff') format('woff');
}

@font-face {
  font-family: 'Centra No2';
  src: url('../../public/fonts/centra-no-2.woff') format('woff');
}

body {
  font-family: 'Centra No2';

  .text-grand-hotel {
    font-weight: 700;
    font-family: 'Centra No2 Bold', 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}

.small-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.large-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: block;
  }
}

.constrain {
  max-width: 850px;
  margin: 0 auto;
}

.constrain-more {
  max-width: 600px;
  margin: 0 auto;
}

.constrain-less {
  max-width: 1050px;
  margin: 0 auto;
}

.no-link {
  text-decoration: none;
  color: inherit;

  :visited,
  :hover,
  :active {
    color: inherit;
  }
}

.body {
  &--dark {
    .leaflet-popup .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
      background-color: #1d1d1d !important;
    }
  }
}

.leaflet-popup-content {
  margin: 0 5px !important;
}
